body, h1, p, a {
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cream);
  height: 100vh;
}

section {
  margin-right: 16px;
  margin-left: 16px;
}

.product {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
  margin: auto auto 20px auto;
  border-radius: 10px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.product-content {
  padding: 36px;
}

.product-content > span {
  display: inline-block;
  font-family: "Montserrat";
  font-size: .825rem;
  letter-spacing: .5em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.product-content h1 {
  font-family: "Fraunces";
  font-size: 2.3rem;
  line-height: 1;
  margin-bottom: 24px;
}

.product-content p {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 24px;
}

.product-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.product-price > span {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.product-price .new-price {
  font-family: "Fraunces";
  font-size: 2rem;
}

.product-price .old-price {
  font-family: "Montserrat";
  font-size: .825rem;
  text-decoration: line-through;
}

.product-price a {
  background-color: var(--color-darkcyan);
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: .825rem;
  font-family: "Montserrat";
  border-radius: 8px;
  gap: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Montserrat";
}

@media (max-width: 400px) {

  .product {
    grid-template-columns: 1fr;
    max-width: 375px;
  }

  .product-content {
    padding: 24px;
  }

 img {
    border-radius: 10px 10px 0 0;
  }

  .product-content > span {
    font-size: .725rem;
    margin-bottom: 12px;
  }

  .product-content h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .product-content p {
    margin-bottom: 20px;
  }

  .product-price {
    gap: 16px;
  }
}